.id {
    font-weight: bold;
}
span{
    font-weight: normal;
}

ul li p {
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}

h3, h4{
    font-family: 'Courier New', Courier, monospace;
    color: chocolate;
}